* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }  

footer {
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-content p {
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;
  }
  
  .social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
  }
  
  .social-list ul {
    display: flex;
  }